.login-form {
  align-content: center;
}

.login-form-field-small {
  max-width: 500px;
  width: 90%;
  display: flex;
  flex-flow: column;
  align-self: center;
  margin-top: 20%;
  margin: 5%;
}

.login-section {
  background-color: grey;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  align-self: center;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.login-button {
  max-width: 100px;
  align-self: center;
  margin: 1%;
}
