.shifa-rehmani-icons{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  height: max-content;
  padding-bottom: 5%;
}


.small-device-icon{
  display: flex;
  //flex-flow: column;
  max-width: 100%;
}
