.login-wait {
  text-align: center;
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.login-wait-spinner {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

.toolbar-divider {
  width: 20px;
  height: 100%;
}

.toolbar-button {
  width: fit-content;
  display: block;
}

.home-toolbar {
  width: auto;
}
